on: [push, pull_request]
name: Go
jobs:
  linux_test:
    name: Test Linux Integration
    strategy:
      matrix:
        go-version: ['oldstable', 'stable']
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}
      id: go

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Download dependencies
      run: go mod download

    - name: Go Vet
      run: go vet ./...

    - name: Fuzz build
      run: go build -tags=gofuzz ./...

    - name: Test Integration
      run: sudo -E env PATH=$PATH go test -v -tags=integration ./...

    - name: Check for vulnerabilities
      id: govulncheck
      uses: golang/govulncheck-action@v1.0.1
      with:
        cache: false
        go-version-input: ${{ matrix.go-version }}
        go-package: ./...
